body{
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
  /* overflow: hidden; */
}

.main{
  position: relative;
  height: 1000px;
}

.header{
  position: absolute;
  margin-top: 18%;
  margin-left: 50%;
  margin-right: 50%;
  overflow: show;
}

#name{
  font-size: 15vmin;
  transform: translate(-50%, -50%);
}

#ball{
  background-color: #ffffff;
  margin-top: auto;
  margin-left: auto;
  width:200px;
  height:200px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  /* mixblendmode not supported in edge https://stackoverflow.com/questions/32613896/how-to-hack-unsupported-mix-blend-mode-css-property*/
  mix-blend-mode: difference;
}

.content{
  position: absolute;
  margin-top: 82%;
}