html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.page{
  position: static;
}

body{
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.5;
  background-color: #000000 !important;
  color: #ffffff !important;
  display: flex;
}

.nameheader h1{
  position: absolute;
  font-size: 15vmin;
  margin-left: 50%;
  margin-right: 50%; 
  margin-top: 18%;
  transform: translate(-50%, -50%);
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 3.5s steps(30, end),
    blinking-cursor .8s step-end;
  animation-iteration-count: 1, 5;
  animation-fill-mode:  none, forwards;
}

.nameheader h1:nth-child(2){
  margin-top: 27%;
  opacity: 0;
  animation:
    typing2 3.5s steps(30, end),
    blinking-cursor .8s step-end infinite;
  animation-delay: 4.3s;
  animation-fill-mode: forwards, none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 616.6px }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 616.6px }
  1%{ opacity: 1 }
  100%{ opacity: 1 }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

#ball{
  background-color: #ffffff;
  margin-top: auto;
  margin-left: auto;
  width:150px;
  height:150px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  /* mixblendmode not supported in edge https://stackoverflow.com/questions/32613896/how-to-hack-unsupported-mix-blend-mode-css-property*/
  mix-blend-mode: difference;
}

.content{
  position: absolute;
  margin-top: 82%;
}

.mainnavbar{
  background-color: transparent;
}

.about{
  background-color: white;
}